<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.hyejin.mju_food">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/mju"
        android:label="명지맛집"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Korea"
            android:label="한식"/>
        <activity android:name=".Japan"
            android:label="일식"/>

        <activity android:name=".Western"
            android:label="양식"/>
        <activity android:name=".Game"
            android:label="랜덤뽑기"/>
        <activity android:name=".Web"/>

    </application>

</manifest>